<template id="template-mascot-interact-focus">
  <div class="mascot-interact-focus">
    <div class="mascot-large">
      <span class="m-bracket">{</span>
      <div class="m-face">
        <div class="m-eyes">
          <span class="m-eye"></span>
          <span class="m-eye"></span>
        </div>
        <div class="m-smile"></div>
      </div>
      <span class="m-bracket">}</span>
    </div>
    <div class="mascot-bubble">
      <p>Gostou do conteúdo? Deixe seu comentário abaixo! ✨</p>
    </div>
  </div>
</template>