 <template id="template-next-posts">
  <section class="read-next">
    <h3>Leia a Seguir</h3>
    <div class="cards-row">
			<div class="mini-card">
				<div class="card-icon blue"></div>
				<span>Primetrios Passos com Java</span>
			</div>
			<div class="mini-card">
				<div class="card-icon dark"></div>
				<span>Introdução ao Spring Boot</span>
			</div>
			<div class="mini-card">
				<div class="card-icon dark"></div>
				<span>Boas Práticas de Código Limpo</span>
			</div>
    </div>
  </section>
</template>